#forma {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-style: outset;
    padding: 20px 10px 20px 10px;
    width: 1100px;
}

#deo {
    padding: 2px 10px 2px 10px;
}

#kolona-desno {
   padding-left: 120px;
}

#posalji{
    background-color: rgb(0, 98, 255);
    color: white;
    border-radius: 5px;
    width: 650px;
    border: 0;
    text-align: center;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
}

label{
    padding-right: 20px;
    padding-bottom: 5px;
}

#podaci{
    margin-top: 20px;
}
